/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Greyscale
   ========================================================================== */
$black: #000000;
$black--light: #1C1919;
$black--lighter: rgb(49, 46, 46);
$white: #FFFFFF;
$grey: #EBEBEB;
$grey--darker: #606060;
$grey--dark: #CCCCCC;
$grey--light: #F6F2F2;
$grey--lighter: #F9F9F9;

/* Brand colors
   ========================================================================== */
$brand-color--primary: #2C3E50; //darkblue
$brand-color--secondary: #FFF85F; //red
$brand-color--tertiary: #FF5353; //light blue


/* Social media colors
   ========================================================================== */
$linkedin: #0077B5;
$twitter: #55ACEE;
$facebook: #3B5998;
$youtube: #E52D27;


/* Specifics
   ========================================================================== */
$text-color: $black;
$hr-color: $grey--light;
$border-color: $grey;
