.about-song {
	border-bottom: 1px solid #777777;
	padding-bottom: 2rem;

	&__title {
		line-height: 1;
		margin: 0 0 .75rem 0;
	}

	&__cover {
		color: #666666;
		display: block;
		font-size: .95rem;
	}
}
