/* ==========================================================================
   Buttons
   ========================================================================== */

/* General
   ========================================================================== */
.button {
	background: #FFFFFF;
	border: none;
	color: $black;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 0;
	padding: .7rem 1.5rem;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	@include transition(all, .3, linear);

	-webkit-appearance: none;

	&:hover {
		opacity: .8;
	}

	&:focus {
		outline: none;
	}
}
